@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
html{
    scroll-behavior: smooth;
    padding: 0px;
    background-color: #000000;
}

.logo{
    opacity:25%;
}
.section-0{
    font-family: 'Ubuntu', sans-serif;
    color: #5fcde4;
    height: 100vh;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 100px;
    font-weight: 700;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h4{
    font-size: 30px;
}
.animation div:first-child {
    animation: text-animation 8s infinite;
}
@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
}
.animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
    color: black;
}
.animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 30px;
    margin-top: 0.5rem;
}
.first div {
    background-color:#5fcde4;
}
.second div {
    background-color:#ffae0b;
}
.third div {
    background-color:#fc0728;
}
.section-1{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fc0728;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-left:100px;
    padding-right:100px;
    height: 100vh;
    align-items: center;
}
p{
    font-weight: 400;
    font-size: 25px;
    width: 500px;
}
.about{
    font-size: 70px;
    background-color: #000000;
    color: #fc0728;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-0{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.section-2{
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    height: 150vh;
    text-align: center;
}
.lang-container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    place-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
}
h3{
    font-size: 75px;
    margin-left: 2rem;
}
.technologies{
    color: #ffae0b;
    font-size: 70px;
    background-color: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.section-3{
    font-family: 'Ubuntu', sans-serif;
    background-color: #5fcde4;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-left:100px;
    padding-right:100px;
    height: 100vh;
    align-items: center;
}
.contact{
    color:#5fcde4;
    font-size: 70px;
    background-color: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
a{
    color: #5fcde4;
    text-decoration: none;
    background-color: #000;
    padding: 5px;
    transition: 1s;
}
a:hover{
    font-size: 2rem;
    transition: 0.25s;
    border: #000000;
    color: #000000;
    background-color: #5fcde4;
}
